{
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "allowImportExportEverywhere": true,
        "ecmaFeatures": {
            "globalReturn": false
        },
        "babelOptions": {}
    },
    "extends": [
        "cyberinvalid"
    ],
    "rules": {
        "no-await-in-loop": 0,
        "no-constant-condition": 0,
        "max-classes-per-file": ["error", 2],
        "class-methods-use-this": ["error", { "exceptMethods": ["errorLog", "logTime", "isExist", "exit"] }]
    }
}